@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShowCities</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
    <h1>Select City</h1>
    @foreach (var item in ViewBag.Cities)
    {
        @*<p>@item.Key</p>*@
        @*<h2>
                <a asp-action="ShowDataForCity" asp-route-cityname="@item.Key">@item.Key</a>
            </h2>*@
        @await Component.InvokeAsync("City", item.Key)
    }
</body>
</html>
